---
# tasks file for create_users
#
- name: Create zpool if it doesn't exist
  command: "zpool create {{ zpool2_name }}  {{ zdevice2 }} creates=/{{ zpool2_name }}"
  when: zpool2_name is defined
- name: create datasets (zfs filesystems as homedirs)
  command: "zfs create -o mountpoint={{ item.mountpoint }}  {{ item.zpool }}/lv_{{ item.name }} creates=/home/{{ item.name }}"
  loop: "{{ users }}"
  loop_control:
    label: "{{ item.name }}"
###
- name: create groups
  ansible.builtin.group:
    name: "{{ item.name }}"
    state: present
    gid: "{{ item.uid }}"
  loop: "{{ users }}"
  loop_control:
    label: "{{ item.name }}"
- name: create users
  ansible.builtin.user:
    name: "{{ item.name }}"
    shell: /bin/bash
    comment: "{{ item.name }}"
    generate_ssh_key: true
    group:  "{{ item.name }}"
    uid:  "{{ item.uid }}"
  loop: "{{ users }}"
  loop_control:
    label: "{{ item.name }}"
